@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root{

    --clr-green: #43DE77;
    --clr-greenlight: #22B14C;
    --clr-redlight: #FF6056;
    --clr-gray2: #C7C7C7;
    --clr-gray: #979797;
    --clr-red: #D63D3D;
    --clr-white: white;
   

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a,input,textarea{
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* DISEÑO DEL LOGO*/

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
}


aside{
    padding: 2rem;
    padding-right: 1.5;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--clr-gray);
}

.imagen-logo {
    padding-top: 1.9rem;
    padding-left: 1.5rem;
    width: 170px; /* O el tamaño que desees */
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 700;
    padding: 0.9rem;
    font-size: 0.9rem;
    color: black;
}

/* DISEÑO DEL MAIN*/

main{
   margin-left: 0;
   padding:  1rem 0;
   
}


.boton-categoria-insumo {
    text-align: right;
    border-bottom: 2px solid var(--clr-gray);
    
}
.separador {
    display: inline-block;
}

.secciones {
    display: flex;
    margin: 0px;
    padding-left: 0;
    align-items: center;
    flex-direction: row;
    
 
}

.boton-Nuevo{
    border: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 4rem;
 
}

.boton-Nuevo:hover{

    border-bottom: 6px solid var(--clr-redlight);
}


.boton-Insumo{

    background-color: var(--clr-green);
    border-radius: 15px;
    border-color: var(--clr-green);
    color: var(--clr-white);
    justify-content: space-between;
    margin-left: 550px; 
    margin-bottom: 0.5rem;

    font-size: 1.1rem;
    font-weight: 600;
    padding:  1rem 2rem;
    gap: 1rem;

    
}

.boton-Insumo:hover{

    background-color: var(--clr-greenlight);
}


.contenedor-crud-insumo{
    
    margin: 3rem 0rem 3rem 0rem;
    width: 1000px;
    padding: 5rem;
    padding-top: 3rem;


}

.contenedor-tabla{

    margin: 3rem 0;
    grid-template-rows: repeat(2,1fr);
    overflow: auto;
    height: 300px;

}

.bi-three-dots{
    border: 1px solid var(--clr-gray);
    border-radius: 1rem;
}

.bi-three-dots:hover{
    background-color: var(--clr-gray);
}

.table{
    font-size: 1rem;
    border-collapse: collapse;
    table-layout: fixed;
   
}

.table th:first-child,
.table td:first-child {
    width: 3%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    text-align: left;
    width: 3%; 
}

.table th:nth-child(3),
.table td:nth-child(3) {
    text-align: center;
    width: 3%; 
}



.table th{
    font-weight: 300;
    border-bottom: 2px solid black;
    
}
.table td{
    font-weight: 300;
    border: none;
}
.table th, .table td{
    padding: 0.5rem;
    width: 10%;
    
    text-align: center;
}

.boton-Nuevo{
    border: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 4rem;
    color: black;
 
}

.boton-Nuevo:hover{

    border-bottom: 6px solid var(--clr-redlight);
}


.boton-cateinsumo{

    background-color: var(--clr-green);
    border-radius: 15px;
    border-color: var(--clr-green);
    color: var(--clr-white);
    justify-content: space-between;
    margin-left: 550px; 
    margin-bottom: 0.5rem;

    font-size: 1.1rem;
    font-weight: 600;
    padding:  1rem 2rem;
    gap: 1rem;

    
}

.boton-cateinsumo:hover{

    background-color: var(--clr-greenlight);
}


.contenedor-crud-insumo{
    
    margin: 3rem 0rem 3rem 0rem;
    width: 1000px;
    padding: 5rem;
    padding-top: 3rem;


}


/*********************PARA PONER DE NEGRO EL FONDO de agregar insumo y borrar*********************************/

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container.activo {
    display: flex;
}

.modal-content-borrar {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: calc(35.5% - 40px);
}


